* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

#app {
    background: url(../images/kids.png);
    background-size: cover; /* This will make the background image cover the entire container */
    height: 100vh;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-dir-col {
    flex-direction: column;
}

main {
    height: 100%;
}

 #door1 {
    position: absolute;
    width: 20rem; /* Set the width of the doors */
    z-index: 1; /* Ensure doors are behind the button */
    margin-left:19rem;
    margin-right: 6rem;
    
}
#door2 {
    position: absolute;
    width: 20rem; /* Set the width of the doors */
    z-index: 1; /* Ensure doors are behind the button */
    margin-left:2rem;
    margin-right: 16rem;
}

#play {
    position: absolute; /* Set the button to absolute position */
    top: 36rem; /* Adjust the top distance as needed */
    z-index: 2; /* Ensure button is above the doors */
}

#arrow {
   
    margin-left: 14rem;
    margin-right: 13rem;
    margin-top: 5rem;
    width: 15rem;
    animation: arrowAnimation 2s ease-in-out infinite;
    z-index: 3; /* Set z-index to a higher value to bring arrow forward */
}

/* Keyframes for the arrow animation */
@keyframes arrowAnimation {
    0% {
        margin-left: 14rem;
        margin-right: 13rem;
    }
    50% {
        margin-left: 12rem;
        margin-right: 15rem;
    }
    100% {
        margin-left: 14rem;
        margin-right: 13rem;
    }
}


.mh-btn {
    cursor: pointer;
    padding: 0.5rem 2rem;
    background-color: rgba(255, 179, 0, 0.842);
    font-size: 18px;
    font-weight: bold;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    border: 4px solid black;
}

.mh-btn:hover {
    background-color: rgba(255, 119, 0, 0.57);
}

.mh-btn:active {
    border-color: rgb(255, 200, 0);
}

/* Responsive Styles */
@media only screen and (orientation: portrait) and (max-width: 470px) {
  
    h1 {
        font-size: 1.5rem; /* Adjusted font size for smaller screens */
    }
    #app {
        background: url(../images/kids_sv.png);
        background-size: cover; /* This will make the background image cover the entire container */
        background-position: center; /* Center the background image */
        height: 100vh; /* Set the height of the container to fill the viewport height */
    }

    #door1 {
        position: absolute;
        width: 9rem; /* Set the width of the doors */
        z-index: 1; /* Ensure doors are behind the button */
        margin-left: 16rem;
        margin-right: 1rem;
        margin-top: 3rem;
    }
    #door2{
        position: absolute;
        width: 9rem; /* Set the width of the doors */
        z-index: 1; /* Ensure doors are behind the button */
        margin-left: 1rem;
        margin-right: 10rem;
        margin-top: 3rem;
    }

    #play {
        position: absolute; /* Set the button to absolute position */
        top: 29rem; /* Adjust the top distance as needed */
        z-index: 2; /* Ensure button is above the doors */
    }
    #arrow {
        position: absolute; /* Set the button to absolute position */
        margin-top: 12;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        width: 6.5rem;
        animation-name: arrowAnimation;
        
        
        
        
    }

        /* Keyframes for the arrow animation */
@keyframes arrowAnimation {
    0% {
        margin-left: 11rem;
        margin-right: 5rem;
    }
    50% {
        margin-left:9rem;
        margin-right: 7rem;
    }
    100% {
        margin-left: 11rem;
        margin-right: 5rem;
    }
}


}

/* Responsive Styles */
@media only screen and (orientation: landscape) and (max-width: 750px) {
  
    h1 {
        font-size: 1.5rem; /* Adjusted font size for smaller screens */
    }
    #app {
        background: url(../images/kids_s.png);
        background-size: 100% 100%; /* This will make the background image cover the entire container */
        background-position: center; /* Center the background image */
        height: 100vh; /* Set the height of the container to fill the viewport height */
    }

    #door1 {
        position: absolute;
        width: 11rem; /* Set the width of the doors */
        z-index: 1; /* Ensure doors are behind the button */
        margin-left: 12rem;
        margin-right: 1rem;
        margin-top: 2rem;
    }
    #door2{
        position: absolute;
        width: 11rem; /* Set the width of the doors */
        z-index: 1; /* Ensure doors are behind the button */
        margin-left: 6rem;
        margin-right: 12rem;
        margin-top: 2rem;
    }

    #play {
        position: absolute; /* Set the button to absolute position */
        top: 22rem; /* Adjust the top distance as needed */
        left: 21rem;
        z-index: 2; /* Ensure button is above the doors */
    }
    #arrow {
        position: relative;
        top:50%;
        margin-left: 1.2rem;
        margin-right: 5rem;
        width: 12rem;
        animation-name: arrowAnimation
    }

        /* Keyframes for the arrow animation */
@keyframes arrowAnimation {
    0% {
        margin-left: 13rem;
        margin-right: 7rem;
    }
    50% {
        margin-left:11rem;
        margin-right: 9rem;
    }
    100% {
        margin-left: 13rem;
        margin-right: 7rem;
    }
}


}


/* Responsive Styles */
@media only screen and (orientation: landscape) and (max-width: 1023px) and (min-width: 800px) {

    #app {
        background: url(../images/kids1.png);
        background-size: cover; /* This will make the background image cover the entire container */
        height: 100vh;
    }
    #app {
        background-size: 100% 100%; /* Adjusted background size for smaller screens */
    }

    #door1 {
        position: absolute;
        width: 19rem; /* Set the width of the doors */
        z-index: 1; /* Ensure doors are behind the button */
        margin-left: 24rem;
        margin-right: 2rem;
        
    }
    #door2 {
        position: absolute;
        width: 19rem; /* Set the width of the doors */
        z-index: 1; /* Ensure doors are behind the button */
        margin-left: 1rem;
        margin-right: 4rem;
     
    }

    #play {
        position: absolute; /* Set the button to absolute position */
        top: 15rem; /* Adjust the top distance as needed */
        z-index: 2; /* Ensure button is above the doors */
    }
    #arrow {
        margin-left:15rem;
        margin-right:7rem;
        width: 17rem;
        animation: arrowAnimation 2s ease-in-out infinite;
        z-index: 3; /* Set z-index to a higher value to bring arrow forward */
    }
    /* Keyframes for the arrow animation */
@keyframes arrowAnimation {
    0% {
        margin-left: 15rem;
        margin-right: 7rem;
    }
    50% {
        margin-left: 13rem;
        margin-right: 9rem;
    }
    100% {
        margin-left: 15rem;
        margin-right: 7rem;
    }
}

    .mh-btn {
        cursor: pointer;
        padding: 0.5rem 1rem;
        background-color: rgba(255, 179, 0, 0.842);
        font-size: 8px;
        font-weight: bold;
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        border: 4px solid black;
    }
}

