* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

#app {
    background: url(../images/background.png);
    background-size: cover; /* This will make the background image cover the entire container */
    height: 100vh;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-dir-col {
    flex-direction: column;
}

main {
    height: 100%;
}

.block {
    position: relative;
    cursor: pointer;
    margin: 0 2rem;
}

.game-content {
    display: flex;
    justify-content: space-between; /* Add space between the doors */
    margin: 2rem;
}


#door2, #door1 {
    position: absolute;
    width: 22rem; /* Set the width of the doors */
    z-index: 1; /* Ensure doors are behind the button */
    margin: 8rem;
    
}

#play {
    position: absolute; /* Set the button to absolute position */
    top: 35rem; /* Adjust the top distance as needed */
    z-index: 2; /* Ensure button is above the doors */
}

#arrow {
    margin-left: 12rem;
    margin-right: 12rem;
    width: 18rem;
}

.mh-btn {
    cursor: pointer;
    padding: 0.5rem 2rem;
    background-color: rgba(255, 179, 0, 0.842);
    font-size: 18px;
    font-weight: bold;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    border: 4px solid black;
}

.mh-btn:hover {
    background-color: rgba(255, 119, 0, 0.57);
}

.mh-btn:active {
    border-color: rgb(255, 200, 0);
}

/* Responsive Styles */
@media (max-width: 768px) and (min-width: 400px) {

    h1 {
        font-size: 1.5rem; /* Adjusted font size for smaller screens */
    }
    #app {
        background-size: 100% 100%; /* Adjusted background size for smaller screens */
    }

    #door2, #door1 {
        position: absolute;
        width: 15rem; /* Set the width of the doors */
        z-index: 1; /* Ensure doors are behind the button */
        margin: 6rem;
    }

    #play {
        position: absolute; /* Set the button to absolute position */
        top: 30rem; /* Adjust the top distance as needed */
        z-index: 2; /* Ensure button is above the doors */
    }
    #arrow {
        margin-left:5rem;
        margin-right:5rem;
        width: 10rem;
    }

    .mh-btn {
        cursor: pointer;
        padding: 0.5rem 1rem;
        background-color: rgba(255, 179, 0, 0.842);
        font-size: 8px;
        font-weight: bold;
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        border: 4px solid black;
    }
}

/* Responsive Styles */
@media (max-width: 400px) {
  
    h1 {
        font-size: 1.5rem; /* Adjusted font size for smaller screens */
    }
    #app {
        background-size: 100% 100%; /* Adjusted background size for smaller screens */
    }

    #door2, #door1 {
        position: absolute;
        width: 9rem; /* Set the width of the doors */
        z-index: 1; /* Ensure doors are behind the button */
        margin: 1.5rem;
    }

    #play {
        position: absolute; /* Set the button to absolute position */
        top: 28rem; /* Adjust the top distance as needed */
        z-index: 2; /* Ensure button is above the doors */
    }
    #arrow {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
        width: 8rem;
    }

    .mh-btn {
        cursor: pointer;
        padding: 0.5rem 1rem;
        background-color: rgba(255, 179, 0, 0.842);
        font-size: 8px;
        font-weight: bold;
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        border: 4px solid black;
    }
}

/* Responsive Styles */
@media (max-width: 300px) {
  
    h1 {
        font-size: 1.5rem; /* Adjusted font size for smaller screens */
    }
    #app {
        background-size: 100% 100%; /* Adjusted background size for smaller screens */
    }

    #door2, #door1 {
        position: absolute;
        width: 6rem; /* Set the width of the doors */
        z-index: 1; /* Ensure doors are behind the button */
        margin: 1rem;
    }

    #play {
        position: absolute; /* Set the button to absolute position */
        top: 25rem; /* Adjust the top distance as needed */
        z-index: 2; /* Ensure button is above the doors */
    }
    #arrow {
        margin-left: 1.2rem;
        margin-right: 1.2rem;
        width: 5rem;
    }

    .mh-btn {
        cursor: pointer;
        padding: 0.5rem 1rem;
        background-color: rgba(255, 179, 0, 0.842);
        font-size: 8px;
        font-weight: bold;
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        border: 4px solid black;
    }
}